.App {
  text-align: center;
}

.App-logo {
  height: 10vmin;
}

.App-header {
  
  color: rgb(250, 249, 249);
  
 
  background-color: #F1F1F1;
  text-align: center;
  

}
img {
  border-radius: 45px 45px 45px 45px;
  
}
.Paper {
  background-color: #07ffd6; 
}

.App-footer {
  background-color: #07ffd6;
  color: white;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}

