.App {
  text-align: center;
}

.App-logo {
  height: 10vmin;
}

.App-header {
  
  color: rgb(250, 249, 249);
  
 
  background-color: #07f7e3;
  text-align: center;
  

}
 #grad {
  background-image: linear-gradient(rgb(0, 204, 255), yellow);

}


.Button 
{
  border-radius: 45px 45px 45px 45px;
}
img {
  border-radius: 45px 45px 45px 45px;
  
}
.Paper {
  background-color: #07ffc9; 
}

.App-footer {
  background-color: #07c5ff;
  color: white;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}

